/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/

.Up {
    margin: 20px;
}

#Logo {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}
/*/header*/

/**main**/
/***Section-1***/
.box-1 {
    width: 600px;
    height: 40px;
    margin: 50px 200px 5px;
    
}

.box-2 {
    width: 600px;
    height: 1000px;
    margin: 0px 200px 50px;
    
}

#Add-1 {
    width: 70px;
    height: 30px;
    size: 10px;
    display: inline-block;
    font-size: small;
    padding: 5px 5px 5px;
    vertical-align: middle;
    color: white;
    background-color: #14aaf5;
    border: 1px solid #14aaf5;
    border-radius: 15%;
}

#Add-2 {
    width: 90px;
    height: 30px;
    size: 10px;
    display: inline-block;
    font-size: small;
    padding: 5px 5px 5px;
    vertical-align: middle;
    color: gray;
    background-color: white;
    border: 2px solid gray;
    border-radius: 15%;
}

/****Section-2****/

.Circle {
    color: #9fe5d9;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #9fe5d9;
    border-radius: 50%;
}
.Circle-2 {
    color: #ff1010;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #ff1010;
    border-radius: 50%;
}

.Middle {
    display: inline-block;
}

.End {
    width: 50px;
    height: 15px;
    font-size: x-small;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #09a9ed;
    border: 3px solid #09a9ed;
    border-radius: 35%;
}

#Purple {
    width: 50px;
    height: 15px;
    font-size: x-small;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #ab5de6;
    border: 3px solid #ab5de6;
    border-radius: 35%;
}

#Green {
    width: 50px;
    height: 15px;
    font-size: x-small;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #2cc6ab;
    border: 3px solid #2cc6ab;
    border-radius: 35%;
}

#Orange {
    width: 50px;
    height: 15px;
    font-size: x-small;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #ff9b00;
    border: 3px solid #ff9b00;
    border-radius: 35%;
}

#Pink {
    width: 50px;
    height: 15px;
    font-size: x-small;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #ec4a9d;
    border: 3px solid #ec4a9d;
    border-radius: 35%;
}

#Green-2 {
    width: 50px;
    height: 15px;
    font-size: x-small;
    text-align: center;
    display: inline-block;
    color: white;
    background-color: #a3d116;
    border: 3px solid #a3d116;
    border-radius: 35%;
}



