/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/

.Up {
    margin: 20px;
}

#Logo {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}
/*/header*/

/**main**/
.box-1 {
    width: 600px;
    height: 40px;
    margin: 50px 200px 10px;
    
}

.box-2 {
    width: 600px;
    height: 1000px;
    margin: 0px 200px 50px;
    
}

#Add-1 {
    width: 70px;
    height: 30px;
    size: 10px;
    display: inline-block;
    font-size: small;
    padding: 5px 5px 5px;
    vertical-align: middle;
    color: white;
    background-color: rgb(48, 48, 248);
    border-color: gray;
    border-radius: 15%;
}

#Add-2 {
    width: 90px;
    height: 30px;
    size: 10px;
    display: inline-block;
    font-size: small;
    padding: 5px 5px 5px;
    vertical-align: middle;
    color: gray;
    background-color: white;
    border-radius: 15%;
    border: 10%;
}


